{% if arrays %}
    {% for key, details in arrays.items() %}
        
        <!-- Basic Information Section -->
        <h1 class="heading">Basic Information</h1>
        <ul>
            {% for info_key, info_value in details["Basic Information"].items() %}
                <li>{{ info_key | capitalize }}: {{ info_value }}</li>
            {% endfor %}
        </ul>

        <!-- Data Section -->
        <h1 class="heading">Data</h1>
        <div>
            {% if details["Data"] is iterable and not details["Data"]|string %}
                <ul>
                    {% for item in details["Data"] %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{{ details["Data"] }}</p>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p>No array loaded.</p>
{% endif %}
