{% extends 'base.html' %}

{% block title %}SeeNumPy{% endblock %}

{% block head %}
<!-- Add any custom CSS or scripts for this page -->
{% endblock %}

{% block content %}
<section>
    <h1 class="heading">SeeNumPy</h1>
    <div class="content-box">
        <p>Hello, there!</p>
        <p>Upload a NumPy array saved as a *.npz file to explore its structure or load a sample file (TO DO).</p>
    </div>
    <h2 class="heading">Upload an NPZ File</h2>
    <div class="content-box">
        <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data" class="mt-4">
          <div class="mb-3">
            <label for="fileInput" class="form-label">Select an NPZ file</label>
            <input type="file" class="form-control" id="fileInput" name="file" accept=".npz" required>
          </div>
            <button type="submit" class="btn btn-primary">Upload</button>
            <button type="reset" class="btn btn-secondary">Clear</button>
        </form>
        <div id="responseMessage" class="mt-4"></div>
      </div>
</section>
{% endblock %}